<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Data Exchange with DHIS2</title>
  <meta name="description" content="Data exchange with DHIS2"/>
  <!-- openmrs favicon -->
  <link rel="shortcut icon" type="image/ico" href="../../images/openmrs-favicon.ico"/>
  <link rel="icon" type="image/png" href="../../images/openmrs-favicon.png"/>

  <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
      }
  </style>

</head>
<body ng-app="app" ng-controller="AppMainController as vm">
  <di>
    <div ui-view="header">
      <openmrs-header title="vm.appTitle"></openmrs-header>       
    </div>

    <openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
            
    <div class="clear"></div>
      <div  id="body-wrapper">
          <br>
          <div ui-view="content" class="container-fluid">
            <label for="dataset"><strong>Rapport à transférer à DHIS2 : </strong></label> 
            <select ng-options="item as item.shortName for item in vm.dataSets track by item.id" ng-model="vm.selected"></select>
            <p><br>
              <label for="datedebut"><strong>Date début : </strong></label>
              <input type="date" name="dateDebut" ng-model="vm.dateDebut" ng-change="vm.onChange()">
              <label for="datefin"><strong>  Date fin : </strong></label>
              <input type="date" name="dateFin"  ng-model="vm.dateFin" value="vm.dateFin" readonly>
            </p><br>
            <p>
              <label for="period"><strong>  Période de rapportage : </strong></label>
              <input type="text" name="period" ng-model="vm.period" value="vm.period" readonly>
            </p>
            <p><br>
              <button type="button" 
                ng-click="vm.onSend()">
                Envoyer
              </button>
            </p>
            <br>
            <P ng-if="vm.pleaseWaitTextStatus">   -->  Veuillez patientez, traitement en cours...</P>
            <br><br>
            <div style='width:900px;background:rgb(231, 231, 231); justify-content: center; text-align: center;' ng-if="vm.postOperationStatus">
              <br>
              <h3 style='vertical-align: middle;'>Resultat du transfert des données vers DHIS2</h2><br><br>
              <p style='text-align: left; margin-left: 10px;'>
                <strong>  Statut envoi : </strong>
                <input type="text" name="status" ng-model="vm.responseStatus" value="vm.responseStatus" style='border: 0px; background:rgb(231, 231, 231);' readonly>
                <br><br>
                <strong>  Détails : </strong>
                <input type="text" name="details" ng-model="vm.responseText" value="vm.responseText" style='width:800px; border: 0px; background:rgb(231, 231, 231);' readonly>
              </p><br><br>
            </div>
          </div>
      </div>

    <div ui-view="footer">
    </div>
  </di>
  
</body>
</html>
